    /* kartkp */
    body {
        font-family: 'Comic Sans MS', cursive, sans-serif; 
        line-height: 1.6;
        margin: 0;
        padding: 0;
        background-color: #f2f2f2;
        background: url('score-blur.jpg') 
           
    }

    .container {
        max-width: 1200px;
        margin: 20px auto;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        width:100%;
        min-height: 100vh;
        position: relative;
        padding: 20px;
        border-radius: 10px;
        margin-bottom: 20px;
        width: 100%;
        margin: 0 auto;
      
    }
    header {
        text-align: center;
        padding: 20px 0;
        
    }
    /* .header-title-box {
        background-color: #f2f2f2;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        background: url('bg_head.jpg')
        
        } */

        
        .header-title-box {
        background-color: #f2f2f2;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        margin-bottom: 20px;
        text-align: center;
        width: 100%;
        margin: 0 auto;
        background: url('bg_head.jpg')
        }
         .header-link {
            text-decoration: none;
        }
        
        .header-link:hover {
            text-decoration: none;
        }
         
        .header {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
        }
        
        .header-title {
            margin: 0;
            font-size: 2em;
            background-color: #FBFBFF;
        }

    .header-title {
        font-family: "Courier New", Courier, monospace;
        font-weight: bold;
        font-size: 2.5em;
        color: #6e79ad;
        text-align: center;
        text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
        margin-bottom: 10px;
        margin-top: 0;
        background-color: #FBFBFF;
        
    }
    .content {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: space-between;
    }
    .calculator {
        flex: 1 1 60%;
        padding: 20px;
        background-color: #f9f9f9;
        box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }
    .mmt {
        margin-bottom: 20px;
        background-color: #f9f9f9;
        font-family: 'Comic Sans MS', cursive, sans-serif;
        padding: 20px;
        border-radius: 20px;
        margin-bottom: 20px;
        width: 100%;
        margin: 0 auto;
    }
    .mmt00 {
        /* margin-bottom: 10px;
        padding: 50px; */
        background-color: #f9f9f9;
        /* box-shadow: 0 0 1px rgba(0,0,0,0.9); */
        font-family: 'Comic Sans MS', cursive, sans-serif;
        /* border-radius: 10px;
        margin-bottom: 10px;
        width: 100%;
        min-width: 7.5%;
        max-width: fit-content;
        margin: 0 auto;
        float: left;
     */
    }
    .mmt h3 {
        font-size: 1.5em;
        margin-bottom: 10px;
    }
    .mmt p {
        margin-bottom: 10px;
    }
    .inputnumber {
        width: 100%;
        max-width: 200px;
        margin-bottom: 10px;
    }
    .btn {
        margin: 10px;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 16px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }
    .btn:hover {
        background-color: #45a049;
    }
    .btn-calculate, .btn-clear {
        background-color: #6e79ad;
        border: none;
        color: white;
        padding: 12px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        font-family: 'Comic Sans MS', cursive, sans-serif;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 50px;
        transition: all 0.3s ease;
    }

    .btn-purple_wala {
        background-color: #e2e3e9;
        border: none;
        color: rgb(10, 9, 9);
        padding: 12px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 50px;
        transition: all 0.3s ease;
        font-family: "Courier New", Courier, monospace;
        font-weight: bold;        


    }

    .myname {
        background-color: #ebecf4;
        border: none;
        color: rgb(10, 9, 9);
        padding: 12px 24px;
        text-align: right;
        text-decoration: none;
        display: inline-block;
        font-size: 8px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 50px;
    }

    .btn-calculate:hover, .btn-clear:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
        
    }
    .connect{
        /* background-color: #bfc6ef; */
        background-color: 	#0077B5;
        border: none;
        color: rgb(10, 9, 9);
        padding: 12px 24px;
        padding: 12px 24px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 50px;
        transition: all 0.3s ease;}
        
    .yoyo{
        font-family: "Courier New", Courier, monospace;
        font-weight: bold;
    }  
    .yoyo0{
        font-family: "monospace";
        /* font-weight: bold; */
        /* font-size: 15px; */
        margin: 20px 0;
        
        
    }
    .mmt_calc_frm{
        font-family: 'Comic Sans MS', cursive, sans-serif;

    }
    
      .side-icons {
        float: left;
        background-color: #6e79ad;
        border: none;
        color: rgb(10, 9, 9);
        padding: 0;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 50%;
        transition: transform 0.7s ease-in-out; /* Smooth transition */
        width: 50px;
        height: 50px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: absolute;
        right: 0;
        top: 40%;
        transform: translateY(-50%);
        overflow: visible;
    }
    .side-icons:hover {
        transform: translateX(-30px) translateY(-50%) scale(1.1);
    }
    .side-icons:hover::after {
        content: "ABOUT";
        position: absolute;
        left: -10px;
        top: 130%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        white-space: nowrap;
        transition: all 0.7s ease-in-out;
        z-index: 1;
    }
    .side-icons0 {
        float: left;
        background-color: #6e79ad;
        border: none;
        color: rgb(10, 9, 9);
        padding: 0;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 50%;
        transition: transform 0.7s ease-in-out;
        width: 50px;
        height: 50px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        overflow: visible;
    }
    .side-icons0:hover {
        transform: translateX(-30px) translateY(-50%) scale(1.1);
    }
    .side-icons0:hover::after {
        content: "CALCI";
        position: absolute;
        left: -10px;
        top: 130%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        white-space: nowrap;
        transition: all 0.7s ease-in-out;
        z-index: 1;
    }

    .side-icons1 {
        float: left;
        background-color: #6e79ad;
        border: none;
        color: rgb(10, 9, 9);
        padding: 0;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 50%;
        transition: transform 0.7s ease-in-out;
        width: 50px;
        height: 50px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        position: absolute;
        right: 0;
        top: 60%;
        transform: translateY(-50%);
        overflow: visible;
    }
    .side-icons1:hover {
        transform: translateX(-30px) translateY(-50%) scale(1.1);
    }
    .side-icons1:hover::after {
        content: "PROJECTS";
        position: absolute;
        left: -20px;
        top: 130%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        padding: 5px 10px;
        border-radius: 5px;
        white-space: nowrap;
        transition: all 0.7s ease-in-out;
        z-index: 1;
        
    }
    
    a img {
        background-color: #FFFFFF;
        border: none;
        color: rgb(10, 9, 9);
        padding: 0px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 50%;
        transition: all 0.3s ease;
        width: 50px;
        height: 50px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    a:hover img {
        opacity: 0.8;
        transform: scale(1.1);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    
    a:active img {
        transform: scale(0.95);
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    }

    
      
    footer {
        position: relative;
        bottom: 1%;
        width: 100%;
        /* background-color: #333; */
        color: #fff;
        padding: 10px;
        text-align: left;
    }
    footer span {
        color: #a4a1a1;
    }

    first-footer {
        bottom: 0;
        width: 100vw; 
        background-color: #000;
        color: gray;
        text-align: center; 
        padding: 0px;
        display: flex;
        align-items: center; 
        justify-content: center;
        gap: 0px;
    }
    
    .first-footer .mailfooter {
        margin: 0;
        width: 15px; 
        height: 27px; 
        bottom: 0;
        width: 100vw; 
        background-color: #252525;
        color: gray;
        text-align: center; 
        font-size: smaller;
        padding: 10px;
        display: flex;
        align-items: center; 
        justify-content: center;
        gap: 8px;
    }
    
    .first-footer .mailfooter > img {
        width: 20px;
        height: 20px;
        vertical-align: middle;
        font-size: 20px;
        margin: 0;
    }



    /* Dark Mode Styles */
body.dark-mode {
    background-color: #121212;
    color: #adadad;
    background: url('score-blur-dark.jpg');
}

.container.dark-mode {
    background-color: #1e1e1e;
    box-shadow: 0 0 10px rgba(255,255,255,0.1);
}

.header-title-box.dark-mode {
    background-color: #1e1e1e;
    background: url('bg-head-dark.jpg');
    box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.1);
}

.header-title.dark-mode {
    color: #a281ca;
    background-color: #1e1e1e;
}

.calculator.dark-mode,
.mmt.dark-mode,
.mmt00.dark-mode {
    background-color: #2c2c2c; 
}

.btn-calculate.dark-mode,
.btn-clear.dark-mode {
    background-color: #a281ca;
    color: #121212;
}

.btn-calculate:hover.dark-mode, .btn-clear:hover.dark-mode {
    box-shadow: 0 12px 16px 0 rgba(116, 116, 116, 0.24), 0 17px 50px 0 rgba(116, 116, 116, 0.24);
    
}

.btn-purple_wala.dark-mode {
    background-color: #6e79ad;
    color: #efeded;
    
}

.myname.dark-mode {
    background-color: #3a3a3a;
    color: #bb86fc;
}

.connect.dark-mode {
    background-color: #4a4a4a;
    color: #bb86fc;
}
.yoyo.dark-mode {
    background-color: #791616;
    color: #a281ca;

}
.mmt_calc_frm.dark-mode{
    background-color: #791616;
    color: #a281ca;

}

.side-icons.dark-mode{
    background-color: #a281ca;
    color: #13b13a;
    /* background: url('about_dark.jpg'); */

}
.side-icons0.dark-mode{
    background-color: #a281ca;
    color: #13b13a;
    /* background: url('calci-dark.jpg'); */

}
.side-icons1.dark-mode {
    background-color: #a281ca;
    color: #13b13a;
    /* background: url('project-dark.jpg'); */
}


footer.dark-mode,
.first-footer.dark-mode {
    /* background-color: #1e1e1e; */
    color: #9f6d09;
}

.first-footer .mailfooter.dark-mode {
    background-color: #2e2e2e;
    color: #C7C7C7;
}



/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .4s;
    /* content: "CALCI"; */
    transform: translateY(-50%);
    background-color: #6e79ad;
    border-radius: 5px;
    white-space: nowrap;
    transition: all 0.4s ease-in-out;
    z-index: 1;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
    
  }
  
  .slider:after {
    content: "Dark Mode";
    position: absolute;
    left: 0;
    right: 0;
    top: 135%;
    transform: translateY(-50%);
    /* background-color: rgba(0, 0, 0, 0.8); */
    color: rgb(0, 0, 0);
    padding: 5px 5px;
    border-radius: 5px;
    white-space: nowrap;
    transition: all 0.7s ease-in-out;
    font-size: 10px;
    z-index: 1;
    opacity: 1; /* Initially hidden */
  }
  
  input:checked + .slider:after {

    content: "Bright Mode";
    opacity: 1;
    top: 135%;
    position: absolute;
    left: -7%;
    right: 0;
    transform: translateY(-50%);
    /* background-color: rgba(0, 0, 0, 0.8); */
    color: white;
    padding: 5px 5px;
    border-radius: 5px;
    white-space: nowrap;
    transition: all 0.7s ease-in-out;
    font-size: 10px;
  }
  
  .slider:hover:after {
    opacity: 1; /* Show label on hover */
    top: 120%;

  }
  input:checked + .slider:hover:after{
    top: 120%;
  }
  /* .slider:hover::after {
    content: "Dark Mode";
    position: absolute;
    left: 0px;
    right: 0px;
    top: 130%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 5px;
    border-radius: 5px;
    white-space: nowrap;
    transition: all 0.7s ease-in-out;
    font-size: 10px; 
    z-index: 1;
} */
  
  input:checked + .slider {
    background-color: #a281ca;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
    
  }

  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }






    @media (max-width: 768px) {
        .content {
            flex-direction: column;
        }
        .calculator, .sidebar {
            flex: 1 1 100%;
        }
    }

/*     @media (max-width: 400px) {
        .switch {
          width: 40px;
          height: 22px;
        }
        
        .slider:before {
          height: 18px;
          width: 18px;
        }
      
        .slider:after, input:checked + .slider:after {
          font-size: 0.6em;
          padding: 3px 6px;
        }
      } */

@media (max-width: 400px) {
    .switch {
      width: 40px;
      height: 22px;
    }
    
    .slider:before {
      height: 18px;
      width: 18px;
    }
  
    .slider:after, input:checked + .slider:after {
      font-size: 0.6em;
      padding: 3px 6px;
    }
  }
@media (max-width: 480px) {
  .switch {
    width: 30%;
    height: 18%;
  }

  .slider:before {
    height: 17px;
    width: 17px;
  }

  input:checked + .slider:before {
    transform: translateX(60%);
    font-size: 0.6em;
    padding: 3px 6px;
  }
}

/* @media (max-width: 480px) {
  .switch {
    width: 30%;
  }

  .slider:before {
    height: 60%;
    width: 60%;
  }

  input:checked + .slider:before {
    transform: translateX(60%);
  }
} */

      .loader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #6e79ad;
        transition: opacity 0.75s, visibility 0.75s;
      }
      
      .loader--hidden {
        opacity: 0;
        visibility: hidden;
      }
      
      .loader::after {
        content: "";
        width: 75px;
        height: 75px;
        border: 15px solid #dddddd;
        border-top-color: #bfc6ef;
        border-radius: 50%;
        animation: loading 0.75s ease infinite;
      }
      .text {
        top:30%;
        left:50%;
        position: absolute;
        font-family: 'Franklin Gothic Heavy';
        font-size: 15vw;
        color:white;
        text-shadow: 2px 2px 5px rgba(0,0,0,0.3),
        5px 5px 70px rgba(255,255,255,0.5);
        transform: scale(1,1.1) translate(-50%, 10%);
      }

      @keyframes loading {
        from {
          transform: rotate(0turn);
        }
        to {
          transform: rotate(1turn);
        }
      }  

      
